/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ......................... 12
2. Variables ...................... 16
3. Estilos generales .............. 27
-------------------- */


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- Variables ----- */
* {
	--primary-font-family: 'Poppins', sans-serif;
	--body-bg-color: #EEF2F9;
	--btn-bg-color: #4788E9;
	--btn-secondary-bg-color: #FF6B6B;
	--btn-border-color: #CFCED8;
	--text-color: #191847;
	--white-color: #FFFFFF;
	--black-color: #000000;
	--font-size: 1rem;
	--lh-text: 22px;

	--point-bg-color: #2ECC71;
	--box-shadow-card: 0 15px 15px 10px rgba(219, 226, 240, 0.7);
	--box-shadow-btn: 0 5px 0 0 rgba(46, 110, 230, 1);
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
	display: grid;
	place-items: center;
	height: 100vh;
	color: var(--text-color);
	font-size: var(--font-size);
	font-family: var(--primary-font-family);
	background-color: var(--body-bg-color);
}

.card-product {
	display: grid;
	grid-template-columns: 40% 60%;
	width: 550px;
	padding: 60px;
	border-radius: 10px;
	background-color: var(--white-color);
	box-shadow: var(--box-shadow-card);
}

.card-product .img-product {
	height: 50%;
	width: 100%;
}

.card-product .img-product img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.card-product .product-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.card-product .product-info .tag {
	width: fit-content;
	padding: 5px;
	font-size: 12px;
	color: var(--white-color);
	border-radius: 20px;
	background-color: var(--text-color);
}

.card-product .product-info .title {
	margin-top: 0;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 30px;
}

.card-product .product-info .original-price {
	font-size: 14px;
	font-weight: 500;
	text-decoration: line-through;
}

.card-product .product-info .discounted-price {
	font-size: 2rem;
	font-weight: bold;
}

.card-product .product-info .note {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 500;
	opacity: 0.5;
}

.card-product .product-info .btn {
	padding: 15px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.card-product .product-info .btn-add {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	background-color: var(--btn-bg-color);
	background-image: none;
	box-shadow: var(--box-shadow-btn);
	transition: transform 0.3s ease;
}

.card-product .product-info .btn-add:hover {
	transform: scale(1.02);
}

.card-product .product-info .stock {
	position: relative;
	left: 20px;
	margin: 15px 0;
	font-size: 12px;
	font-weight: 600;
}

.card-product .product-info .stock::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -20px;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--point-bg-color);
}

.card-product .product-info .actions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.card-product .product-info .actions .btn-add-cart,
.card-product .product-info .actions .btn-add-wishlist {
	font-size: 14px;
	font-weight: 500;
	border: 2px solid var(--btn-border-color);
	background-color: var(--white-color);
	transition: all .3s ease;
}

.card-product .product-info .actions .btn-add-cart:hover {
	color: var(--white-color);
	border-color: var(--btn-bg-color);
	background-color: var(--btn-bg-color);
}

.card-product .product-info .actions .btn-add-wishlist:hover {
	color: var(--white-color);
	border-color: var(--btn-secondary-bg-color);
	background-color: var(--btn-secondary-bg-color);
}

@media screen and (max-width: 768px) {
	.card-product {
		position: relative;
		grid-template-columns: 1fr;
		width: 70%;
		height: 400px;
		padding: 30px;
	}
	.card-product .img-product {
		margin-top: 20px;
		height: 115px;
	}
	.card-product .product-info {
		display: grid;
		grid-template-rows: repeat(5, auto);
		grid-template-columns: 1fr 1fr;
		place-items: center;
		margin-top: 20px;
	}
	.card-product .product-info .tag {
		position: absolute;
		top: 10px;
		right: 15px;
	}
	.card-product .product-info .title {
		grid-column: 1 / -1;
		width: 100%;
		margin-bottom: 0;
		font-size: 1.1rem;
	}
	.card-product .product-info .discounted-price {
		font-size: 2.1rem;
	}
	.card-product .product-info .note {
		grid-column: 1 / -1;
		margin-bottom: 0;
		font-size: 12px;
	}
	.card-product .product-info .btn-add {
		display: none;
	}
	.card-product .product-info .btn {
		width: 100%;
		padding: 10px 5px;
	}
	.card-product .product-info .stock {
		position: absolute;
		top: 10px;
		left: 35px;
		margin-top: 0;
		padding: 5px;
	}
	.card-product .product-info .actions {
		grid-row: 4 / 6;
		grid-column: 1 / -1;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.card-product .product-info .actions .btn-add-cart,
	.card-product .product-info .actions .btn-add-wishlist {
		font-size: 16px;
		color: var(--white-color);
	}
	.card-product .product-info .actions .btn-add-cart {
		background-color: var(--btn-bg-color);
		border-color: var(--btn-bg-color);
	}
	.card-product .product-info .actions .btn-add-wishlist {
		background-color: var(--btn-secondary-bg-color);
		border-color: var(--btn-secondary-bg-color);
	}
}